html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
  background-color: #000;
  margin: 0;
  padding: 0;
}
#about {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  max-width: 80%;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.hidden {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 15px 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

h1 {
  padding-top: 15px;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}

.modal-content {
  background: #ffffff;
  color: #000000;
  padding: 20px;
  border-radius: 10px;
}

.explore-btn {
  background: #ff9900;
  color: #000000;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  max-width: 500px;
}

.slider img {
  top: 50%;
  left: 50%;
  width: 500px;
  display: none;
}

.slider img.active {
  display: block;
}

form {
  margin-top: 20px;
}

input {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

button {
  background: #ff9900;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

span {
  color: red;
}

footer {
  background: #111;
  padding: 20px;
  margin-top: 20px;
}
